.card-container {
  border: 1px solid;
  padding: 10px;
  box-shadow: 3px 6px #888888;
  width: 275px;
}
.btn-card{
  background-color: coral;
  padding: 10px 108px;
  border: none;
  border-radius: 3px;
}
.btn-card:hover{
  background-color: salmon;
  transition: 0.5s;
}
